<!DOCTYPE html>

<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>{{ page.title }}</title>
      <style type="text/css">
     
      .head{
        width: 100%;
        float: left;
        background: #853;
      }
      .left{
        float: left;
        width: 20%;
        background: #445;
      }
      .mid{
        float: left;
        width: 60%;
        background: #265;
      }
      .right{
        float: left;
        width: 20%;
        background: #087;
      }
      </style> 
    </head>
    <body>
      <div class="head">head</div>
      <div class="left">left</div>
      <div class='mid'>{{ content }}</div>
      <div class="right">right</div>

      

    </body>
</html>